In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({
    'Population': [35.467, 63.951, 80.94 , 60.665, 127.061, 64.511, 318.523],
    'GDP': [
        1785387,
        2833687,
        3874437,
        2167744,
        4602367,
        2950039,
        17348075
    ],
    'Surface Area': [
        9984670,
        640679,
        357114,
        301336,
        377930,
        242495,
        9525067
    ],
    'HDI': [
        0.913,
        0.888,
        0.916,
        0.873,
        0.891,
        0.907,
        0.915
    ],
    'Continent': [
        'America',
        'Europe',
        'Europe',
        'Europe',
        'Asia',
        'Europe',
        'America'
    ]
}, columns=['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'])

In [3]:
df

   Population       GDP  Surface Area    HDI Continent
0      35.467   1785387       9984670  0.913   America
1      63.951   2833687        640679  0.888    Europe
2      80.940   3874437        357114  0.916    Europe
3      60.665   2167744        301336  0.873    Europe
4     127.061   4602367        377930  0.891      Asia
5      64.511   2950039        242495  0.907    Europe
6     318.523  17348075       9525067  0.915   America

In [4]:
df.columns

Index(['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'], dtype='object')

In [5]:
df.info

<bound method DataFrame.info of    Population       GDP  Surface Area    HDI Continent
0      35.467   1785387       9984670  0.913   America
1      63.951   2833687        640679  0.888    Europe
2      80.940   3874437        357114  0.916    Europe
3      60.665   2167744        301336  0.873    Europe
4     127.061   4602367        377930  0.891      Asia
5      64.511   2950039        242495  0.907    Europe
6     318.523  17348075       9525067  0.915   America>

In [47]:
df.index=["Canada",
              "Czech",
              "France",
              "Italy",
              
              "Japan",
              "Turkey",
              "Mexico"
              
              ]

In [48]:
df.describe

<bound method NDFrame.describe of         Population       GDP  Surface Area    HDI Continent
Canada      35.467   1785387       9984670  0.913   America
Czech       63.951   2833687        640679  0.888    Europe
France      80.940   3874437        357114  0.916    Europe
Italy       60.665   2167744        301336  0.873    Europe
Japan      127.061   4602367        377930  0.891      Asia
Turkey      64.511   2950039        242495  0.907    Europe
Mexico     318.523  17348075       9525067  0.915   America>

In [7]:
df.size

35

In [8]:
df.shape

(7, 5)

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, Canada to Mexico
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Population    7 non-null      float64
 1   GDP           7 non-null      int64
 2   Surface Area  7 non-null      int64
 3   HDI           7 non-null      float64
 4   Continent     7 non-null      object
dtypes: float64(2), int64(2), object(1)
memory usage: 336.0+ bytes

In [13]:
#df.loc["Canada"]

In [15]:
df.iloc[0]

Population       35.467
GDP             1785387
Surface Area    9984670
HDI               0.913
Continent       America
Name: 0, dtype: object

In [16]:
df["Continent"]

0    America
1     Europe
2     Europe
3     Europe
4       Asia
5     Europe
6    America
Name: Continent, dtype: object

In [43]:
df["Continent"].to_frame()

             Continent
Canada         America
Canada          Europe
France          Europe
Italy           Europe
GermanyJapan      Asia
Turkey          Europe
Mexico         America

In [19]:
df.loc['France':'Italy']

Empty DataFrame
Columns: [Population, GDP, Surface Area, HDI, Continent]
Index: []

In [18]:
df[1:3]

   Population      GDP  Surface Area    HDI Continent
1      63.951  2833687        640679  0.888    Europe
2      80.940  3874437        357114  0.916    Europe

In [21]:
a=df.loc['France':'Italy','GDP']

In [24]:
type(a)
a.dtypes

dtype('int64')

In [26]:
df.loc['France':'Italy',['GDP','Population']]

Empty DataFrame
Columns: [GDP, Population]
Index: []

In [27]:
df['Population']>70

0    False
1    False
2     True
3    False
4     True
5    False
6     True
Name: Population, dtype: bool

In [28]:
df.loc[df['Population']>70]

   Population       GDP  Surface Area    HDI Continent
2      80.940   3874437        357114  0.916    Europe
4     127.061   4602367        377930  0.891      Asia
6     318.523  17348075       9525067  0.915   America

In [31]:
#df.drop("France")

In [46]:
df.drop(columns=['Population','HDI'],axis=1)

                   GDP  Surface Area Continent
Canada         1785387       9984670   America
Czech          2833687        640679    Europe
France         3874437        357114    Europe
Italy          2167744        301336    Europe
GermanyJapan   4602367        377930      Asia
Turkey         2950039        242495    Europe
Mexico        17348075       9525067   America

In [51]:
#df["Language"]=langs

In [52]:
#df=df.drop(["language"],axis="columns")

In [56]:
new_row=pd.Series({
    'Population': 58.896,
    'Continent':'Europe',
    'Language':'Boşnakça'
}, name='Bosna-Hersek')

In [57]:
new_row

Population      58.896
Continent       Europe
Language      Boşnakça
Name: Bosna-Hersek, dtype: object

In [58]:
pd.concat([df, new_row.to_frame().T], ignore_index=False)

             Population         GDP  Surface Area    HDI Continent  Language
Canada           35.467   1785387.0     9984670.0  0.913   America       NaN
Czech            63.951   2833687.0      640679.0  0.888    Europe       NaN
France            80.94   3874437.0      357114.0  0.916    Europe       NaN
Italy            60.665   2167744.0      301336.0  0.873    Europe       NaN
Japan           127.061   4602367.0      377930.0  0.891      Asia       NaN
Turkey           64.511   2950039.0      242495.0  0.907    Europe       NaN
Mexico          318.523  17348075.0     9525067.0  0.915   America       NaN
Bosna-Hersek     58.896         NaN           NaN    NaN    Europe  Boşnakça

In [ ]:
# use contact instead of append. Append method is deprecated.