##Numbers

In [2]:
my_number=12345

In [3]:
type(my_number)

int

In [6]:
my_float=3.14
print(type(my_float))
print(my_float)

<class 'float'>
3.14

In [7]:
15+5

20

In [8]:
14 - 3

11

In [10]:
15-2.5

12.5

In [11]:
15*5.3

79.5

In [12]:
78 / 3

26.0

In [13]:
13.0 + 9

22.0

In [14]:
 5%5

0

In [15]:
5%2

1

In [16]:
6 // 5

1

In [17]:
6 // 3

2

In [18]:
5 ** 2

25

In [21]:
5 **3

125

In [20]:
5^3

6

Another way to look at module

In [22]:
a=5 // 3
b=5-3*a
print(b)

2

In [24]:
whole_part=int(5/3)
decimal_part=5 / 3 - whole_part
print(decimal_part)

0.6666666666666667

In [26]:
whole_remainder=decimal_part * 3
print(whole_remainder)

2.0

In [27]:
2**0.5

1.4142135623730951

In [28]:
2**5

32

In [29]:
int(3.15)

3

In [30]:
float(3)

3.0

In [31]:
int("123")

123

Virgülden sonrasını düzenlemek için kullanılır

In [32]:
round(3.1415,2)

3.14

In [33]:
round(3.1415)

3

In [34]:
print(type(round(3.1415)))

<class 'int'>

In [35]:
import math
print(math.floor(3.99999))

3

In [36]:
round(5.1553)

5

In [37]:
round(6.6914,3)

6.691

In [38]:
0.1*3

0.30000000000000004

In [41]:
from decimal import Decimal

In [45]:
Decimal('0.1')*3

Decimal('0.3')

In [46]:
import random

In [101]:
random.randint(5,10)

9

Strings

In [102]:
## Stringler değiştirilemezdir. 
my_string='my text is "important"'
print(my_string)

my text is "important"

In [103]:
long_string='''
###
text
example
'''
print(long_string)

###
text
example

In [104]:
my_num=123
str(my_num)

'123'

In [106]:
my_nums=42
my_nums=str(my_nums)
print(type(my_nums))

<class 'str'>

In [108]:
print(my_string)
print(my_string[-2])

my text is "important"
t

In [111]:
len(my_string[-1])

1

In [112]:
len(my_string)

22

In [116]:
'''Slice
<str>[<start>:stop:<step>]
'''

'Slice\n<str>[<start>:stop:<step>]\n'

In [114]:
my_string[1:4]

'y t'

In [115]:
my_string[:4]

'my t'

In [117]:
my_string[::2]

'm eti iprat'

In [119]:
my_string[::-1]

'"tnatropmi" si txet ym'

In [120]:
my_string.split()

['my', 'text', 'is', '"important"']

In [125]:
my_string.split()

['my', 'text', 'is', '"important"']

In [126]:
animals=["cat","dog","bird"]

In [130]:
"|".join(animals)

'cat|dog|bird'

In [131]:
" ".join(animals)

'cat dog bird'

In [133]:
for item in my_string:
    print(item)

m
y

t
e
x
t

i
s

"
i
m
p
o
r
t
a
n
t
"

Note: Python satır düzenlemeleri önemlidir. Düzgün kullanılmazsa hata verir

Fstrings

In [136]:
name="Sevgican"
age=23
print(f"My name is {name} and my age is {age}")

My name is Sevgican and my age is 23

Datetime

In [137]:
import datetime

In [138]:
today=datetime.datetime.today()

In [139]:
print(today)

2023-11-26 13:45:02.833204

In [147]:
print(f"{today: %d %B %Y}")

 26 November 2023

Boolean

In [149]:
bool(1)

True

In [150]:
bool(0)

False

In [156]:
my_variable=0
if my_variable:
    print("This is true")
else:
    print("This is false")

This is false