##Numbers

In [2]:
my_number=12345

In [3]:
type(my_number)

int

In [6]:
my_float=3.14
print(type(my_float))
print(my_float)

<class 'float'>
3.14

In [7]:
15+5

20

In [8]:
14 - 3

11

In [10]:
15-2.5

12.5

In [11]:
15*5.3

79.5

In [12]:
78 / 3

26.0

In [13]:
13.0 + 9

22.0

In [14]:
 5%5

0

In [15]:
5%2

1

In [16]:
6 // 5

1

In [17]:
6 // 3

2

In [18]:
5 ** 2

25

In [21]:
5 **3

125

In [20]:
5^3

6

Another way to look at module

In [22]:
a=5 // 3
b=5-3*a
print(b)

2

In [24]:
whole_part=int(5/3)
decimal_part=5 / 3 - whole_part
print(decimal_part)

0.6666666666666667

In [26]:
whole_remainder=decimal_part * 3
print(whole_remainder)

2.0

In [27]:
2**0.5

1.4142135623730951

In [28]:
2**5

32

In [29]:
int(3.15)

3

In [30]:
float(3)

3.0

In [31]:
int("123")

123

Virgülden sonrasını düzenlemek için kullanılır

In [32]:
round(3.1415,2)

3.14

In [33]:
round(3.1415)

3

In [34]:
print(type(round(3.1415)))

<class 'int'>

In [35]:
import math
print(math.floor(3.99999))

3

In [36]:
round(5.1553)

5

In [37]:
round(6.6914,3)

6.691

In [38]:
0.1*3

0.30000000000000004

In [41]:
from decimal import Decimal

In [45]:
Decimal('0.1')*3

Decimal('0.3')

In [46]:
import random

In [101]:
random.randint(5,10)

9

Strings

In [102]:
## Stringler değiştirilemezdir. 
my_string='my text is "important"'
print(my_string)

my text is "important"

In [103]:
long_string='''
###
text
example
'''
print(long_string)

###
text
example

In [104]:
my_num=123
str(my_num)

'123'

In [106]:
my_nums=42
my_nums=str(my_nums)
print(type(my_nums))

<class 'str'>

In [108]:
print(my_string)
print(my_string[-2])

my text is "important"
t

In [111]:
len(my_string[-1])

1

In [112]:
len(my_string)

22

In [116]:
'''Slice
<str>[<start>:stop:<step>]
'''

'Slice\n<str>[<start>:stop:<step>]\n'

In [114]:
my_string[1:4]

'y t'

In [115]:
my_string[:4]

'my t'

In [117]:
my_string[::2]

'm eti iprat'

In [119]:
my_string[::-1]

'"tnatropmi" si txet ym'

In [120]:
my_string.split()

['my', 'text', 'is', '"important"']

In [125]:
my_string.split()

['my', 'text', 'is', '"important"']

In [126]:
animals=["cat","dog","bird"]

In [130]:
"|".join(animals)

'cat|dog|bird'

In [131]:
" ".join(animals)

'cat dog bird'

In [133]:
for item in my_string:
    print(item)

m
y

t
e
x
t

i
s

"
i
m
p
o
r
t
a
n
t
"

Note: Python satır düzenlemeleri önemlidir. Düzgün kullanılmazsa hata verir

Fstrings

In [136]:
name="Sevgican"
age=23
print(f"My name is {name} and my age is {age}")

My name is Sevgican and my age is 23

Datetime

In [137]:
import datetime

In [138]:
today=datetime.datetime.today()

In [139]:
print(today)

2023-11-26 13:45:02.833204

In [147]:
print(f"{today: %d %B %Y}")

 26 November 2023

Boolean

In [149]:
bool(1)

True

In [150]:
bool(0)

False

In [156]:
my_variable=0
if my_variable:
    print("This is true")
else:
    print("This is false")

This is false

and ,or, not

In [1]:
True and True

True

In [2]:
True and False

False

In [3]:
bool(1) and bool(0)

False

In [4]:
result=1 and 0
bool(result)

False

In [7]:
print(not True and False)
print( not(True and False))

False
True

In [8]:
1==True

True

In [21]:
first_number=5
second_number=5

In [22]:
if first_number>second_number:
    print(f"{first_number} is grather than {second_number}")
elif first_number==second_number:
    print(f"{second_number} is equal with {first_number}")
else:
    print(f"{second_number} is grather than {first_number}")

5 is equal with 5

In [24]:
test_score=80
age=18

def student_status(age, test_score):
 if test_score >= 80 and age >=16:
    print(f"Intern Driver")
 elif test_score >=80 and age >=18:
    print(f"Driver")
 elif test_score >=60 and age >=16:
    print(f"Supervised-intern-driver")
 elif test_score >=60 and age >=18:
     print(f"Supervised-driver")
 else:
    return print("No Licence")

In [27]:
def buzz_func(number):
    return "Buzz" if number % 2 == 0 else str(number)

In [28]:
ny_number=12

In [29]:
buzz_func(my_number)

NameError: name 'my_number' is not defined

String Methods

In [38]:
test_string="Ada Lovelace Academy had started!"

In [39]:
test_string.lower()

'ada lovelace academy had started!'

In [40]:
test_string.strip()

'Ada Lovelace Academy had started!'

In [42]:
test_string.endswith('!')

True

In [43]:
test_string.endswith('d')

False

Bu anlık bir sonuçtur. Asıl string'de değişiklik yapmaz

In [45]:
test_string.replace('!','.')

'Ada Lovelace Academy had started.'

In [46]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

Comparsions

In [48]:
15!=10

True

In [49]:
"Ada "=="Lovelace"

False

In [54]:
my_number=13
15 == 18

False

In [55]:
my_list=[1,2,3,4]
3 in my_list

True

Lists

In [56]:
empty_list=[]
print(empty_list)

[]

In [57]:
example_list=[1,"string",[1,2,3]]
print(example_list)

[1, 'string', [1, 2, 3]]

In [61]:
test_list=list("string")
print(test_list)

['s', 't', 'r', 'i', 'n', 'g']

In [63]:
example_listexample_list=[1,"string",[1,2,3]]
example_list[1]

'string'

In [64]:
example_list[-1] #son elemana ulaşmak için

[1, 2, 3]

In [65]:
example_list[0:2] # 0. elemandan ikinci elemana kadar olan kısım

[1, 'string']

In [66]:
example_list[:2]

[1, 'string']

In [67]:
colors=["red", "yellow", "green","blue", "pink","purple"]
for color in colors:
    print(color)

red
yellow
green
blue
pink
purple

In [68]:
for index, color in enumerate(colors):
    print(f"{index}: {color}")

0: red
1: yellow
2: green
3: blue
4: pink
5: purple

In [81]:
cube_to_1000=[]

#range (10)
for i in range(1,11):
    cube_to_1000.append(i**3)
print(cube_to_1000)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [76]:
print(colors)

['red', 'yellow', 'green', 'blue', 'pink', 'purple']

In [86]:
new_colors=colors
print(new_colors)

['red', 'yellow', 'green', 'blue', 'pink']

In [83]:
new_colors.append("orange")
print(new_colors)

['red', 'yellow', 'green', 'blue', 'pink', 'purple', 'orange']

In [85]:
colors.pop() #listeden son elemanı siler

'purple'

In [87]:
print(colors)

['red', 'yellow', 'green', 'blue', 'pink']

In [88]:
newest_colors=colors.copy()
print(newest_colors)

['red', 'yellow', 'green', 'blue', 'pink']

In [89]:
newest_colors.append("black") #en sona ekleme

In [91]:
print(newest_colors)
print(colors)

['red', 'yellow', 'green', 'blue', 'pink', 'black']
['red', 'yellow', 'green', 'blue', 'pink']

In [92]:
newest_colors.insert(0, "gray") # istediğimiz yere eleman eklemek için
#bu işlem hafıza kısmında karışıklığa neden olabilir

In [94]:
print(newest_colors)

['gray', 'red', 'yellow', 'green', 'blue', 'pink', 'black']

In [95]:
# extend, add two list together

In [96]:
newest_colors.remove('yellow')

In [97]:
newest_colors

['gray', 'red', 'green', 'blue', 'pink', 'black']

In [99]:
newest_colors.reverse

In [104]:
newest_colors=['gray', 'red', 'green', 'blue', 'pink', 'black']
newest_colors.sort(reverse=True)
colors

['red', 'yellow', 'green', 'blue', 'pink']

In [105]:
colors.index("red") #elemanı bilip indexi bilemediğimiz anlarda

0

Tuples

In [106]:
my_tuple=tuple()

In [107]:
my_tuple=tuple([10])

In [108]:
print(my_tuple) # tek eleman olsa dahi virgüllü olur

(10,)

In [110]:
my_tuple=tuple("Lovelance")
print(my_tuple)

('L', 'o', 'v', 'e', 'l', 'a', 'n', 'c', 'e')

In [111]:
my_tuple=tuple([10,"Ada","Lovelace",11])
print(my_tuple)

(10, 'Ada', 'Lovelace', 11)

In [113]:
animal_colors={
    "cat":"white",
    "bear":"brown",
    "pig":"pink"
}

In [114]:
animal_colors_tuple=tuple(animal_colors)
print(animal_colors_tuple)

('cat', 'bear', 'pig')

In [115]:
animal_colors_tuple_2=tuple(animal_colors.items())
print(animal_colors_tuple_2)

(('cat', 'white'), ('bear', 'brown'), ('pig', 'pink'))

In [116]:
my_new_tuple=("ada",)
print(my_new_tuple)

('ada',)

In [117]:
my_new_tuple="ada","lovelace"
print(my_new_tuple)

('ada', 'lovelace')

In [118]:
my_new_tuple[0]

'ada'

In [119]:
animals=dict([('cat', 'white'), ('bear', 'brown'), ('pig', 'pink')])

In [120]:
animals["cat"]

'white'

In [122]:
animals.get("cat") #cat'in tanımlanan her şeyini verir

'white'

In [123]:
animals["bear"]="brown"

In [124]:
print(animals)

{'cat': 'white', 'bear': 'brown', 'pig': 'pink'}

In [126]:
animals.pop("pig")

'pink'

In [127]:
#del

In [128]:
animal_colors={
    "cat":"yellow",
    "dog":"black",
    "horse":"brown"
    }

Sets

In [133]:
# her objesi uniqe. 
#sets mutable'dır
#frozensets immutable'dır.

#iteration
#membership(in,not in)
#len() metodları var
#copy() 

#sets do not support:
#indexing
#ordering, sorting
#slicling
#concat
#kaynak tüketimi sahip (veri büyüdükçe maliyet artmaz)

In [134]:
my_set={"ada"}

In [136]:
print(type(my_set))
print(my_set)

<class 'set'>
{'ada'}

In [138]:
my_set={"ada","lovelace","marry","albert", "ada"}
print(my_set)

{'marry', 'albert', 'lovelace', 'ada'}

In [139]:
animal_set=set(animal_colors)
print(animal_set)

{'yellow', 'cat'}

In [140]:
numbers=[1,1,1,3,5,9,9,12]
calculated_numbers={number**2 for number in numbers if number%3==0}

In [141]:
print(calculated_numbers)

{81, 9, 144}

In [142]:
calculated_numbers_list=[number**2 for number in numbers if number %3==0]
print(calculated_numbers_list)

[9, 81, 81, 144]

In [145]:
def calculated_numbers(my_number):
    my_list=[]
    for number in numbers:
        value=number**2
        if value %3==0:
            my_list.append(value)
    return set(my_list)

In [144]:
print(calculated_numbers(numbers))

TypeError: 'set' object is not callable

In [146]:
birds={"crow","sparrow","eagle"}

In [147]:
animals={'crow':'beyaz',
         'sparrow':'grey',
         'eagle':'brown and white'}

In [148]:
birds.isdisjoint(animals)

False

In [149]:
birds.issubset(animals)

True

In [150]:
set(animals).issuperset(birds)

True